@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

html, 
body {
    margin: 0;
    padding: 0;
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .npm-logo {
    width: 5%;
    height: 5%;
  }

  .search-icon {
    width: 5%;
    height: 5%;
  }

  .useful-container {
    display: flex;
    justify-content: space-between;
  }

  .search-container {
    display: flex;
    flex-grow: 3;

  }

  .search-container button {
    background-color: #FB3B49;
    color: white;
  }

  #invitation {
    height: 600px;
    background-color: rgba(232, 217, 217, .3);
    display: flex;
    justify-content: center;
  }

  #invitation .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .link-btn1 {
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, .2);
  }

  #invitation div {
    display: flex;
  }

  #general-information {
    display: flex;
    justify-content: center;
  }

  #general-information .container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #general-information h2 {
    background-color: rgba(255, 204, 53, .4);
  }

  #general-information img {
    height: 40%;
  }

  #service-details > div {
    display: flex;
    justify-content: space-evenly;
  }
  
  .service-box {
    display: flex;
    flex-direction: column;
  }

  .service-box img {
    display: flex;
    height: 20px;
    
  }

  #service-details > button {
    display: flex;
    align-self: center;
  }